################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/AirTrafficMonitor/.vs/AirTrafficMonitor/v16/Server/sqlite3/db.lock
/AirTrafficMonitor/.vs/AirTrafficMonitor/v16/.suo
/AirTrafficMonitor/.vs/AirTrafficMonitor/v16/Server/sqlite3/storage.ide
/.vs/I4SWT_ATM1/v16/.suo
